* {
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Body */
body {
  background-color: black;
}

/* Navigation bar */
nav {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 10px;
  height: 50px;
  display: inline-flex;
}

li {
  text-decoration: underline;
  display: inline;
  padding: 0 10px;
}

/* Banner */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  position: relative;
  height: auto;
  opacity: 0.9;
  width: 1200px;
  height: 700px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  background-color: black;
  width: 1200px;
}

/* Tea of the Month */
.month-container {
  margin-top: 50px;
}

.monthly-teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.tea-image {
  width: 300px;
  height: 200px;
}

/* Locations */
.location-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.location-image {
  position: relative;
  width: 1200px;
  height: 500px;
  object-fit: cover;
}

.location-text {
  margin-top: 100px;
  position: absolute;
}

.locations {
  margin-top: 150px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.location-item {
  background-color: black;
  width: 200px;
  margin: 0 20px;
  flex: 2 2;
}

/* Footer */
#copyright {
  text-align: left;
  padding-left: 20px;
}